# Get your API key and secret from:
# https://addons.mozilla.org/developers/addon/api/key/
WEB_EXT_API_KEY=user:12345678:1234
WEB_EXT_API_SECRET=abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890
